.snackbar {
    width: 250px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    position: fixed;
    top: 85vh;
    left: 75vw;
    color: #fff;
    background-color: var(--azul);
}