.snackbar{
    width: 250px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 3px;

    position: fixed;
    top: 91vh;
    left: 80vw;

    color: #fff;

    background-color: #6079c7;
}