.notify{
    width: 95%;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
}

.notify .container{
    width: 97vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.notify .container .progressCircle{
    color: var(--azul);
    margin-left: -39px;
}