.home{
    width: 95%;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
}

.home .container{
    width: 97vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.home .container .progressCircle{
    color: #526cc2;
    margin-left: -39px;
}

.imgInput{
    width: 100%;
    height: 100px;
}

.label{

    background-color: #eee;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    font-size: 12pt;
    color: #999;
}