.navBar{
    width: 75px;
    height: 100vh;

    background-color: #fff;
}

.navBar .logoContainer{
    width: 100%;
    height: 80px;

    background-image: linear-gradient(to bottom, #6079c7, #6b75c6, #7671c3);

    display: flex;
    justify-content: center;
    align-items: center;
}

.navBar .logoContainer img{
    width: 55%;
}

.navBar .menuContainer{
    width: 100%;
    height: 400px;
}

.navBar .menuContainer .menuIten{
    width: 100%;
    height: 70px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.navBar .menuContainer .menuIten img{
    width: 22%;
}
